
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family:"Roboto Condensed",sans-serif;
}
.color-bleu{
    color: #63D1E9; 
}
.container{
    width: 90%;
    margin: 0 auto;
}
nav{
    padding: 20px 0;
    padding-bottom: 140px;
}
.logo {
    display: inline;
  
}
.logo a{
    font-size: 24px;
    color: #63D1E9; 
    text-decoration: none;  
}

div.header{
    background-image: url(/images/hero.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}
nav ul{
    display: inline-block;
    float: right
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}


.header-text{
    margin: 20px 70px ;
}
h3{
    color: #63D1E9; 
    font-size: 24px;
    margin-bottom: 5px;
}
.soulign{
    width: 315px;
    background-color: rgb(98, 98, 98);
    padding: 3px ;
    margin-bottom: 30px;
    border-radius: 50px;
}
.best{
    color: white;
    font-size: 70px;
    margin-bottom: 60px;
}
button{
    border-radius: 50px;
    padding: 15px 40px;
    font-weight: 600;
}
.button1{
    background-color: aliceblue;
    border-radius: 50px;
    border-style: none;
    padding: 15px 30px;
    margin-right: 20px;
}

.button2{
    background-color: transparent;
    border-radius: 50px;
    padding: 15px 30px;
    border-color: aliceblue;
    color: aliceblue;
}

.button1:hover{
    background-color: transparent;
    border: 2px solid;
    border-color: aliceblue;
    color: aliceblue;
}

.button2:hover{
    background-color: aliceblue;
    border-style: none;  
    margin-right: 20px;
    color:black ;
}

/* ********************************        ABOUT            ***************************** */

.about{ 
    padding: 100px 200px ;
}
.about-img{
    
    display: inline;
    margin-right: 40px;
    width: 40%;
    
}
.about-img img{
    
    border-radius: 10px;
    
}
.about-texte{
    float: right;
    width: 58%;
    margin-top: 10px;

}
.about-texte h2{
    color: #63D1E9;
}
.souligne{
    width: 80px;
    background-color: #DEE2E6;
    padding: 2px ;
    margin-bottom: 10px;
   
}
.about-texte h1{
    color: #1D2A4D;
    font-size: 42px;
    margin-bottom: 20px;
    
}
.about-texte p{
    color: #848E9F;
    font-size: 14px;
    margin-bottom: 40px;
    text-align: justify;
    line-height: 1.5;
}
.div-ico{
    display: inline-block;
    background-color: #EFF5F9;
    width: 24%;
    border-radius: 50%;
    padding: 10px 0px;
}
.div-ico{
    text-align: center;
}
.div-ico small{
    font-weight: 600;
    color: #63D1E9; 
    font-size: 14px;
}

/* *****************************        SERVICES        *************************************/
.services{
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
}
.titres{
    text-align: center;
}
.soulig{
    width: 68px;
    background-color: #DEE2E6;
    padding: 2px ;
    margin: 0 auto;
}
.titres h1{
   font-size: 42px;
   width: 40%;
   margin: 30px auto;
   
}
.my-div{
    display: inline-block;
    background-color: #EFF5F9;
    width: 27%;
    padding: 40px 10px;
    text-align: center;
    margin: 20px;
    border-radius: 5px;
}
.my-div p{
    color: #848E9F;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    margin: 15px 0;
}
.my-div h4{
   margin: 15px;
}
/* **************************************    RENDEZ-VOUS    ********************** */
.rendezvous{
    background-color: #63D1E9;
    padding: 30px 0;
    margin: 50px 0;

}
.rendez{
    width:70%;
    margin: 0 auto;
    display: flex;
}
.titles{
    width: 40%;
    padding-right: 50px;
    padding-top: 50px;   
}
.titles h4{
    color: white;
}

.titles h1{
    color: #1D2A4D;
    font-size: 40px;
    margin: 10px 0;
}
.titles p{
    margin: 20px 0;
    color: white;
    text-align: justify;
    line-height: 1.5;
}

.soulign{
    width: 113px;
    background-color: #DEE2E6;
    padding: 2px ;
    
}

.button3{
    background-color: #1D2A4D;
    color: white;
}
.button4{
    background-color: transparent;
    color: #1D2A4D;
}
.formulaire{
    width: 50%;
    height: 320px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 80px 0px 30px;
}

.formulaire input, select{
   background-color: #EFF5F9;
   border: none;
   border-radius: 5px;
   width: 230px;
   margin: 5px;
   padding: 10px 10px;
   outline: none;
}
.formulaire select{
    width: 250px; 
    color: gray; 

 }
 .formulaire select option{
    color: black;
 }
.formulaire h2{
    text-align: center;
    font-size: 30px;
    margin: 20px 0 40px;
   
}
.formulaire .button5{
    width: 528px;
    padding: 15px 0px;
    border-radius: 5px;
    background-color: #63D1E9;
    color: white;
    border: none;
    font-size: 14px;
    margin-top: 20px;
}
/* ***********************************     packages    **************************/
.packages{
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
}
.les-titres{
    text-align: center;

}
.les-titres h4{
    color: #63D1E9;
}
.les-titres h1{
    color: #1D2A4D;
    font-size: 42px;
    margin: 0 auto;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.souligner{
    width: 165px;
    background-color: #DEE2E6;
    padding: 2px ;
    margin: 0 auto;
}

.les-div{
    width: 25%;
    display: inline-block;
    margin: 20px 40px;
    background-color: #EFF5F9;
    border-radius: 5px;
}

.les-div img{
    width: 100%;
    opacity: 80%;
    border: 5px;
    filter: brightness(50%);
    height: 100%;
    border-radius: 5px;


}
.package-titre{
    position: relative;
    background: #1D2A4D;

}
.package-titre h4{
    text-align: center;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100;
    line-height: 1.7;
    width: 100%;
}


.les-para{
    text-align: center;
    padding: 20px 10px;
    line-height: 2;
    color: #848E9F;
}
.button6{
    background-color: #63D1E9;
    border: none;
    color: white;
    padding: 12px 25px;
    margin-top: 20px;
}

/* ********************************    OUR DOCTOR    *****************************/
.doctors{
    width: 80%;
    margin: 80px auto; 
}

.les-titles{
    text-align: center;

}
.les-titles h4{
    color: #63D1E9;
}
.les-titles h1{
    color: #1D2A4D;
    font-size: 42px;
    margin: 0 auto;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.souli{
    width: 120px;
    background-color: #DEE2E6;
    padding: 2px ;
    margin: 0 auto 20px;
}

.doctor-profil{
    width: 46%;
    height: 280px;
    background-color: #DEE2E6;
    display: inline-block;  
    margin-left: 25px;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.doctor-profil img{
    width: 40%;
    height: 280px;   
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
    border-radius: 5px 0 0 5px;
}
.doctor-profil .info{
    margin-top: 20px;
    width: 50%;
    display: inline-block;
}
.info{
    padding-right: 20px;
}
.info h4{
    margin: 10px  0 5px;
    color: #1D2A4D;
    font-size: 22px;
}
.info .categorie {
    margin-bottom: 30px;
    color: #13C5DD;
    font-size: 13px;
}

.info .categorie i{
    font-size: 12px;
    font-weight: bold;
}

.info p{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    color: #848E9F;
    margin-bottom: 60px;

}
.doctor-rss  a{
  color: white;
  background-color: #63D1E9;
  border-radius: 50%;
  padding: 10px 12px;
  margin-right: 5px;
}
.doctor-rss  a:hover{
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.info  a i{
    text-align: center;
}


.find-doctor{
    background-color: #63D1E9;
    padding: 60px 0 80px;
    margin: 100px 0;
}
.find-doctor p{
    width: 25%;
    margin: 20px auto 60px;
    color: white;
}

.find-doctor h4{
    color: white;
}
.ma-form{
    width: 40%;
    margin: 0 auto;
}
.ma-form select{
    width: 170px;
    padding: 14px 12px 15px;
    margin: 0;
    background-color: white;
    border-radius: 5px 0 0 5px;
    color: gray;
    outline: none;
}
.ma-form select option{  
    color: black;
}

.ma-form input{
    width: 248px;
    padding: 15px 12px;
    border: none;
    border-radius: 0 5px 5px 0;
    margin-left: -4px;
    outline: none;
}
.ma-form button{
    width: 170px;
    padding: 15px 12px;
    border: none;
    border-radius: 0 5px 5px 0;
    margin-left: -10px;
    background-color: #1D2A4D;
    color: white;
    font-size: 16px;
}


.title-with{
    width: 70%;
    margin: 0 auto;
}
.ligne-with{
    width: 95px;
}

/* *****************************************************    BLOG    *************************************************************** */

.blog{
    width: 65%;
    margin: 100px auto;
}
.blog h1{
    width: 65%;
}
.my-blog{
    width: 30%;
    background-color: #DEE2E6;
    border-radius: 5px;
    display: inline-block;
    margin-right: 3%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.my-blog p{
    margin: 15px 0 30px;
    color: #848E9F;
    font-size: 13px;
    line-height: 1.5;
}
.my-blog a{
    color: #1D2A4D;
    text-decoration: none;
    font-size: 20px;
}
.my-blog a:hover{
    color: #3bb4cf;
}

.img-blog{
    width: 100%;
    border-radius: 5px 5px 0 0;
    
}
.text-blog{
    padding: 10px 15px;
}
.img-user{
    width: 30px;
    border-radius: 50%;
}
.blog-footer img{
    vertical-align: middle;
    margin-right: 3px;
}
.nom-complet{
    display: inline-block;
    
}
.les-vu{
    display: inline-block;
    padding-left: 22%;
}
.my-blog span{
    color: #848E9F;
    font-size: 13px;
    margin-right: 5px;
}
.blog-footer{
    border-top: 1px solid rgb(204, 204, 204);
    padding: 10px 15px; 

}

/* *****************************************************    FOOTER    *************************************************************** */


footer{ 
    background-color: #1D2A4D;
    padding: 50px 0 30px;
    width: 100%;
}
footer .footer-contrainer{
    width: 65%;
    margin: 0 auto;
}
footer .footer-div{
    width: 22%;
    display: inline-block;
    margin-right: 3%;
    vertical-align: top;
}
footer .footer-div:last-child{
        margin-right: 0;
}
.footer-div h4{
    color: #3bb4cf;
    margin-bottom: 30px;
}
.footer-div p{
    color: white;
    margin-bottom: 40px;
    font-size: 13px;
    line-height: 1.5;
}

footer ul li{
    display: block;
    text-decoration: none;
    list-style: none;
    padding-bottom: 20px;
    color: white;
    font-size: 14px;
}
footer  i{
    
    margin-right: 10px;
    color: #13C5DD;
}
footer ul li a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}
footer input{
    width: 90%;
}
footer h6{
    color: #13C5DD;
    margin: 30px 0 10px;

}
.footer-rss i{
    font-size: 25px;
}
.footer-div input{
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 5px 0 0 5px;
    display: inline-block;
}
.footer-div button{
    display: inline-block;
    height: 39px  ;
    padding: 10px 0;
    width: 30%;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 13px;
    vertical-align: top;
    color: white;
    background-color: #13C5DD;
}


